CompileFlags:
  Add:
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\14.3.1
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\14.3.1\arm-none-eabi\thumb\v7e-m\nofp
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include\c++\14.3.1\backward
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\14.3.1\include
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\lib\gcc\arm-none-eabi\14.3.1\include-fixed
    - -IC:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\arm-none-eabi\include
  Remove:
    - -f*
  CompilationDatabase: ./build/Debug
  Compiler: C:\Users\33533\.eide\tools\arm-gnu-toolchain-14.3.rel1-mingw-w64-i686-arm-none-eabi\bin\arm-none-eabi-gcc.exe
